<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gestormp3uf2">

    <!-- Permiso para Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">

        <!-- Actividad principal (launcher) -->
        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividad para creación de nuevos audios -->
        <activity
            android:name=".CrearActivity"
            android:exported="false" />

        <!-- Actividad para reproducir audios -->
        <activity
            android:name=".ReproductorActivity"
            android:exported="false" />

    </application>
</manifest>